[submodule "thirdparty/Isaac-GR00T"]
	path = thirdparty/Isaac-GR00T
	url = https://github.com/NVIDIA/Isaac-GR00T.git
[submodule "thirdparty/GraspGenX"]
	path = thirdparty/GraspGenX
	url = https://github.com/NVlabs/GraspGenX.git
[submodule "thirdparty/lerobot"]
	path = thirdparty/lerobot
	url = https://github.com/huggingface/lerobot.git
